/*.navbar {
    background: #2E8965;
}

.nav-list > li.active:hover > a, .nav-list > li.active > a {
    color: #689F38;
}

.nav-list > li.active:before,
.nav-list > li:hover:before {
    background-color: #8BC34A;
}

.nav-list > li > a.dropdown-toggle,
.nav-list > li.open > a,
.nav-list > li.open > a:focus {
    color: #bac2c8;
    background-color: #222A2D;
}

.nav-list > li:hover > a,
.nav-list > li.open:hover > a {
    color: #bac2c8;
    background-color: #414B51;
}

.nav-list > li > .submenu > li.active > a {
    color: #689F38;
}

.nav-list > li > .submenu > li:hover > a {
    color: #8BC34A;;
}*/

body{

}

.message-item .time {
    width: 150px;
}

.message-head .summary .text,
.message-head .time,
.message-head .sender {
    color: #2a8bcb;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.message-head {
    border: 1px solid #EAEDF1;
    border-bottom-width: 0;
    padding: 12px 12px 14px;
    line-height: 18px;
    background-color: #FFF;
    position: relative;
}

.message-head .sender {
    margin: 0 6px 0 4px;
    color: #467287;
    width: 110px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.message-head .summary {
    position: relative;
    margin-left: 30px;
    /*max-width: 250px;*/
    max-width: calc(100% - 300px);
    min-width: 200px;
}

.message-head .summary .text {
    color: #555;
    width: auto;
    max-width: 100%;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.message-head .time {
    float: right;
    width: 60px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
}

/*.widget-main>a {
    text-align:center
}

div>span>h2{
    text-align:center
}*/

/*.bootstrap-table .btn.btn-app.btn-xs {*/
    /*width: 31px;*/
    /*font-size: 0;*/
    /*padding-bottom: 3px;*/
    /*padding-top: 4px;*/
/*}*/
/*.bootstrap-table .btn.btn-app.btn-xs>.ace-icon {*/
    /*font-size: 17px;*/
/*}*/
/*.bootstrap-table .btn.btn-app.btn-xs:hover {*/
    /*width: 40px;*/
    /*font-size: 1px;*/
    /*padding-bottom: 3px;*/
    /*padding-top: 4px;*/
/*}*/
/*.bootstrap-table .btn.btn-app.btn-xs>.ace-icon:hover {*/
    /*font-size: 17px;*/
/*}*/
/*.bootstrap-table .fixed-table-toolbar .bs-bars{*/
    /*margin-top:auto;*/
    /*margin-bottom:0;*/
    /*line-height: 0;*/
/*}*/


/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th :not(.detail-view){*/
    /*text-align: center;*/
/*}*/

/*.table>tbody> .detail-view{*/
    /*text-align:left;*/
/*}*/

.bootstrap-table .table>tbody> ,
.bootstrap-table .table>thead>{
    text-align: center
}

.bootstrap-table .fixed-table-toolbar{
    /*height: 52px;*/
    border: 1px solid #ddd;
    border-bottom: none;
    font-size: 16px;
    background: rgba(249, 249, 249, 0.57);
    -webkit-border-radius: 4px 4px 0 0;
}
.bootstrap-table .fixed-table-toolbar .btn{
    margin: 4px;
}
.bootstrap-table .bootstraptable-title{
    position: absolute;
    left: 30px;
    padding-top:17px;
}

.widget-color-white {
    background-color: #ffffff
}

.widget-color-white>.widget-header{
    color: #000000;
    background: #ffffff none;
}
.widget-box[class*=widget-color-white]>.widget-header{
    color: #000000;
    padding-left:0;
    border: 0
}

.widget-color-white>.widget-header>.widget-title {
    font-size: 15px;
}

@media only screen and (min-width: 992px){
    .page-header{
        display:none;
    }
}

#searchbox{
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin: 0;
}
#searchbox .widget-header{
    border-top-right-radius:5px;
    border-top-left-radius: 5px
}
#searchbox .widget-main{
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px
}
#searchbox .widget-body{
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px
}
#searchbox .form-group{
    padding: 5px;
}
.row>.login-layout{
    background-color: #FFFFFF;
}

.row>.login-layout .widget-box .widget-main{
    padding: 12px;
}

.modal>.modal-dialog label{
    margin-top: 6px;
    text-align:center
}

.modal>.modal-dialog .btn>.ace-icon {
    margin-right: 0;
}