<div class="col-md-offset-1 col-md-9 col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="tabbable">
            <div class="tab-content no-padding no-border">
            <div id="a" class="tab-pane fade active in">
                <table id="adjustable"></table>
            </div>
            <div id="newadjust" class="tab-pane fade">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="widget-title">新增调帐</h5>
                    </div>
                    <div id="adjustbody" class="widget-body">
                        <div class="widget-main">
                            <div class="col-sm-12">
                                <p class="alert alert-info">添加一条调帐记录，选择调帐类型、日期，然后点击添加，日调帐可以添加多条记录。</p>
                            </div>
                            <div class="col-sm-12"><br></div>
                            <div class="col-sm-3">
                                <select class="form-control" onchange="changedatepicker(this.options[this.options.selectedIndex].value)" title="调帐类型">
                                    <option value="日调帐">日调帐</option>
                                    <option value="月调帐">月调帐</option>
                                    <option value="日期段">其他</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group date">
                                    <input class="form-control formdate" type="text" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-white btn-default btn-round">
                                    <i class="ace-icon fa fa-plus-square-o"></i>
                                    添加
                                </button>
                            </div>
                        </div>
                        <div class="widget-main">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>调帐时间:</label>
                                        <input class="form-control formdate" type="text" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>调帐原金额：</label>
                                        <input class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>调帐金额：</label>
                                        <input class="form-control" placeholder="请填入调帐金额">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>调帐原因：</label>
                                        <input class="form-control" placeholder="请填入调帐原因">
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-white btn-default btn-round">
                                            <i class="ace-icon fa fa-minus-square-o"></i>
                                        </button>
                                    </div>
                                </div>


                        </div>
                        <div class="widget-toolbox transparent clearfix">
                            <a class="btn btn-success pull-right" data-toggle="tab" href="#a">
                                <span class="bigger-120">
                                    <i class="fa fa-thumbs-o-up"></i>&nbsp;确定
                                </span>
                            </a>
                            <a class="btn btn-grey pull-left" data-toggle="tab" href="#a">
                                <span class="bigger-120">
                                    <i class="fa fa-hand-o-left"></i>&nbsp;返回
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="toolbar">
    <span id="tabletitle" class="bootstraptable-title bigger-120">
        <i class="fa fa-table"></i>
            调帐列表
    </span>
    <a id="new" class="btn btn-primary btn-xs" data-toggle="tab" href="#newadjust">
        <i class="ace-icon fa fa-plus-square icon-only"></i>新增
    </a>
    <button class="btn btn-primary btn-xs" type="button" name="refresh" title="刷新">
        <i class="ace-icon fa fa-refresh icon-only"></i>刷新
    </button>
</div>
<div id="adjustdetail" class="hide">
    <span  class="text-primary bigger-120">
        <i class="fa fa-bookmark-o"></i>
        调帐详情：
    </span>
    <div class="widget-box">
        <div class="widget-body">
            <div class="widget-main no-padding">
                <span class="red bolder">
                    <table id="detailtable"></table>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    var adjustable = $("#adjustable");
    var formdatepicker = $(".formdate");
    formdatepicker.datetimepicker({
        language:"zh-CN",
        format:"yyyy-mm-dd",
        startView: "month",
        minView:"month",
        autoclose:true
    });
    function changedatepicker(type) {
        console.log(type);
        if(type==="日调帐"){
            formdatepicker.datetimepicker("remove");
            formdatepicker.datetimepicker({
                language:"zh-CN",
                format:"yyyy-mm-dd",
                startView: "month",
                minView:"month",
                autoclose:true
            });
        }else if(type==="月调帐") {
            formdatepicker.datetimepicker("remove");
            formdatepicker.datetimepicker({
                language:"zh-CN",
                format:"yyyy-mm",
                startView: "year",
                minView:"year",
                autoclose:true
            });
        }
    }
    adjustable.bootstrapTable("destroy").bootstrapTable({
        url: "json/adjustlist.json",
        striped: true,
        pagination: true,
        paginationLoop: true,
        sidePagination:	'client',
        pageSize:"12",
        pageList:[15,25,50],
        uniqueId: "id",
        showRefresh: true,
        toolbar: '#toolbar',
        toolbarAlign: "right",
        detailView:true,
        detailFormatter:repairdetail,
        iconsPrefix: 'fa',
        icons:{
            detailOpen: 'fa-plus-square-o',
            detailClose: 'fa-minus-square-o'
        },
        columns: [{
            field: "createtime",
            title: "创建时间",
            width:"160px"
        }, {
            field: "createuser",
            title: "调帐人",
            width:"15%"
        }, {
            field: "adjustcontent",
            title: "调帐内容"
        }, {
            field: "status",
            title: "调帐状态",
            formatter:function (value,row,index) {
                var label = "label-success", status="调帐成功";
                var detail = row.adjustdetail;
                var l = detail.length;
                for(var i=0;i<l;i++){
                    if(detail[i].status===1){
                        status = "调帐审核中";
                        label = "label-warning";
                        break
                    }
                }
                return "<span class=\"label " + label + " arrowed\">" + status + "</span>"
            }
        }],
        onClickRow:function (row,$element) {
            if($element.find("i").hasClass("fa-plus-square-o")){
                adjustable.bootstrapTable("collapseAllRows");
                adjustable.bootstrapTable("expandRow",$element.attr("data-index"))
            }else{
                adjustable.bootstrapTable("collapseRow",$element.attr("data-index"))
            }
        }
    });
    $(".fixed-table-toolbar").append($("#tabletitle"));
    $(".columns-right").remove();
    function repairdetail(index,row){
        console.log(index);
        /**
         * @param row.adjustdetail        调帐详情
         * @param row.afteramount         调帐后金额
         * @param row.beforeamount        调帐前金额
         */
        var adjustdetail = $("#adjustdetail");
        $("#detailtable").bootstrapTable("destroy").bootstrapTable({
            data:row.adjustdetail,
            columns: [{
                field: "adjustdate",
                title: "调帐日期"
            }, {
                field: "beforeamount",
                title: "调帐前金额",
                formatter:function (value,row,index){
                    return "<i class=\"fa fa-jpy\"></i><span>"+value+"</span>"
                }
            }, {
                field: "afteramount",
                title: "调帐后金额",
                formatter:function (value,row,index){
                    return "<i class=\"fa fa-jpy\"></i><span>"+value+"</span>"
                }
            }, {
                field: "adjustamount",
                title: "调帐金额",
                formatter:function (value,row,index){
                    return "<i class=\"fa fa-jpy\"></i><span>"+(row.afteramount-row.beforeamount)+"</span>"
                }
            }, {
                field: "status",
                title: "调帐状态",
                formatter:function (value) {
                    var label,status;
                    if(value===1){
                        label = "label-warning";
                        status = "调帐审核中"
                    }else if(value===2){
                        label = "label-success";
                        status = "调帐成功"
                    }
                    return "<span class=\"label " + label + " arrowed\">"+ status +"</span>"
                }
            }]
        });
        return adjustdetail.html();
    }
</script>