<div class="row">
    <div class="col-md-3 col-md-push-9 col-sm-12 login-layout">
        <div id="searchbox" class="widget-box no-padding">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title smaller">查询条件</h5>
                <span class="widget-toolbar">
				    <a href="javascript:closesearch()">
						<i class="ace-icon fa fa-times"></i>
					</a>
				</span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div id="sendatapicker" class="input-group">
                                <input type="text" class="form-control" placeholder="请点击选择日期"  readonly/>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">请选择类型</option>
                                <option value="1">已读</option>
                                <option value="0">未读</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input id="byname" type="text" class="form-control" placeholder="请填入查找内容">
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-grey btn-xs btn-round" type="button" name="search" title="确定查找"><i class="fa fa-search"></i>确定查找</a>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
        <table id="complaintable"></table>
    </div>
</div>
<div id="toolbar"></div>
<div id="repairtimeline" class="hide">
    <div class="row">
        <div class="col-sm-2">
            <span class="text-primary">报修详情：</span>
        </div>
        <div class="col-sm-10">
            <div class="timeline-container timeline-style2">
                <div class="timeline-items">
                    <div class="timeline-item clearfix">
                        <div class="timeline-info">
                            <span id="startime" class="timeline-date"></span>
                            <i class="timeline-indicator btn btn-info no-hover"></i>
                        </div>
                        <div class="widget-box transparent">
                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <span class="red bolder">
                                        发起客诉
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-box">
                            <div class="widget-body">
                                <div class="widget-main">
                                    客诉内容：
                                    <span id="repaircontent" class="text-warning"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accept" class="timeline-item clearfix">
                        <div class="timeline-info">
                            <span id="acceptime" class="timeline-date"></span>
                            <i class="timeline-indicator btn btn-info no-hover"></i>
                        </div>
                        <div class="widget-box transparent">
                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <span class="orange bolder">
                                        接受处理
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-box">
                            <div class="widget-body">
                                <div class="widget-main">
                                    接受处理备注：
                                    <span id="acceptcontent" class="text-warning"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="end" class="timeline-item clearfix">
                        <div class="timeline-info">
                            <span id="endtime" class="timeline-date"></span>
                            <i class="timeline-indicator btn btn-info no-hover"></i>
                        </div>
                        <div class="widget-box transparent">
                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <span class="green bolder">
                                        处理完成
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-box">
                            <div class="widget-body">
                                <div class="widget-main">
                                    处理意见：
                                    <span id="endcontent" class="text-warning"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.timeline-items -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newcomplain" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加客诉记录</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-1">客诉类型:</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="cardtype1" title="报修类型">
                                    <option value="商品">商品</option>
                                    <option value="店铺">店铺</option>
                                    <option value="店员">店员</option>
                                    <option value="商城">商城</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-1">客诉内容：</label>
                            <div class="col-sm-4">
                                <input id="byname" class="form-control" placeholder="请填入客诉内容">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 col-sm-offset-1 ace-file-input">
                            <input type="file" id="id-input-file-2">
                            <span class="ace-file-container" data-title="Choose">
                            <span class="ace-file-name" data-title="点击上传文件">
                                <i class=" ace-icon fa fa-upload"></i>
                            </span>
                        </span>
                            <a class="remove" href="#">
                                <i class=" ace-icon fa fa-times">
                                </i>
                            </a>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-toggle="modal" data-dismiss="modal">确定</button>
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script>
    var complaintable = $("#complaintable");
    complaintable.bootstrapTable("destroy").bootstrapTable({
        url: "../json/complain.json",
        striped: true,
        pagination: true,
        paginationLoop: true,
        sidePagination:	'client',
        pageSize:"12",
        pageList:[15,25,50],
        uniqueId: "id",
        showRefresh:true,
        showSearch:true,
        onSearchbtn:function(){
            ($("#searchbox").hasClass("visible"))?$("#searchbox").removeClass("visible"):$("#searchbox").addClass("visible")
        },
        showAdd:true,
        onAddbtn:function(){
            $('#newcomplain').modal('show')
        },
        toolbar: '#toolbar',
        toolbartitle:"客诉列表",
        detailView:true,
        detailFormatter:complaindetail,
        columns: [{
            field: "startime",
            title: "创建时间",
            width:"160px"
        }, {
            field: "complaintype",
            title: "客诉类型",
            width:"15%"
        }, {
            field: "complaincontent",
            title: "客诉内容"
        }, {
            field: "status",
            title: "状态",
            align:"center",
            width:"10%",
            formatter:function (value) {
                var label,status;
                if(value==="1"){
                    label = "label-danger";
                    status = "发起客诉"
                }else if(value==="2"){
                    label = "label-warning";
                    status = "接受处理"
                }else if(value==="3"){
                    label = "label-success";
                    status = "处理完成"
                }
                return "<span class=\"label " + label + " arrowed\">"+ status +"</span>"
            }
        }],
        onClickRow:tableclickexpand
    });
    function complaindetail(index,row){
        console.log(index);
        /**
         * @param row.startime        报修时间
         * @param row.acceptime       接受时间
         * @param row.endtime         结束时间
         * @param row.acceptcontent   接受内容
         * @param row.endcontent      处理内容
         * @param row.repaircontent   报修内容
         */
        var repairtimeline = $("#repairtimeline");
        repairtimeline.find("#startime").text(row.startime);
        repairtimeline.find("#repaircontent").text(row.repaircontent);
        if(row.acceptime!==""){
            repairtimeline.find("#acceptime").text(row.acceptime);
            repairtimeline.find("#accept").removeClass("hide");
            repairtimeline.find("#acceptcontent").text(row.acceptcontent);
            if(row.endtime!==""){
                repairtimeline.find("#endtime").text(row.endtime);
                repairtimeline.find("#end").removeClass("hide");
                repairtimeline.find("#endcontent").text(row.endcontent)
            }else{
                repairtimeline.find("#end").addClass("hide")
            }
        }else{
            repairtimeline.find("#accept").addClass("hide");
            repairtimeline.find("#end").addClass("hide")
        }
        return repairtimeline.html();
    }
</script>