<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>商户端 Admin</title>
    <link rel="icon" href="img/logo.ico" type="image/x-icon">
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- ace styles -->
    <link rel="stylesheet" href="css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <link rel="stylesheet" href="css/ace-skins.min.css"/>
    <!-- my styles -->
    <link rel="stylesheet" href="css/shopclient.css"/>
</head>

<body class="skin-1">

<!-- heads -->

    <script src="js/jquery-2.1.4.min.js"></script>
    <!--script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/jstree.js"></script>
    <!-- json数据 -->
    <script src="json/navjson.js"></script>
    <!-- ace js -->
    <script src="js/ace.min.js"></script>
    <script src="js/ace-elements.min.js"></script>
    <script src="js/ace-extra.min.js"></script>
    <!-- my js -->
    <script src="js/shopclient.js"></script>
</body>
</html>