<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>商户端 Admin</title>
    <link rel="icon" href="../img/logo.ico" type="image/x-icon">
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/daterangepicker.css"/>
    <!-- ace styles -->
    <link rel="stylesheet" href="../css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <link rel="stylesheet" href="../css/ace-skins.min.css"/>
    <!-- my styles -->
    <link rel="stylesheet" href="../css/shopclient.css"/>
</head>

<body>
<div id="navbar" class="navbar navbar-default ace-save-state navbar-fixed-top">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    Noah商户系统
                </small>
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="../img/1F0101.png" alt="XX店铺">
                        <span class="user-info"></span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="javascript:navjump(8)">
                                <i class="ace-icon fa fa-cog"></i>
                                系统设置
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:loginout()">
                                <i class="ace-icon fa fa-power-off"></i>
                                登出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="main-container" class="main-container ace-save-state">
    <div id="sidebar" class="sidebar responsive ace-save-state"></div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="page-header">
                    <h1></h1>
                </div>
                    <div class="container-fluid" id="main">
                    </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">Noah</span>
                    Application &copy; 2017-2017
                </span>
            </div>
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110">
        </i>
    </a>
</div>

<script src="../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='../js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-table.min.js"></script>
<script src="../js/bootstrap-table-zh-CN.min.js"></script>
<script src="../js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../js/jstree.js"></script>
<!--<script src="../js/jspdf.debug.js"></script>-->
<!--<script src="../js/html2canvas.js"></script>-->
<script src="../js/moment-with-locales.min.js"></script>
<script src="../js/daterangepicker.js"></script>
<!--<script src="../js/daterangepicker.zh-CN.js"></script>-->
<script src="../js/bootstrap-notify.min.js"></script>
<script src="../js/validator.min.js"></script>
<script src="../js/echarts.simple.min.js"></script>
<!-- json数据 -->
<script src="../json/json.js"></script>
<!-- ace js -->
<script src="../js/ace-elements.min.js"></script>
<script src="../js/ace.min.js"></script>
<script src="../js/ace-extra.min.js"></script>
<!-- my js -->
<script src="../js/shopclient.js"></script>
<script src="../json/widgetjson.js"></script>

<script>
    moment.locale("zh-cn");
</script>
</body>
</html>