<div class="col-sm-6">
    <table id="noticetable"></table>
</div>

<script>
    $("#noticetable").bootstrapTable({
        url: "json/notice.json",
        // datatype:"json",
        // idField: "id",
        // striped: true, //是否显示行间隔色
        // pagination: false, //是否显示分页（*）
        // sortable: true, //是否启用排序
        // sortOrder: "asc", //排序方式
        // clickToSelect: true, //是否启用点击选中行
        columns: [{
            field: 'type',
            title: '类型'
        }, {
            field: 'sendtime',
            title: '时间'
        }, {
            field: 'title',
            title: '时间'
        }]
    })
</script>