<div class="row">
    <div class="col-md-3 col-md-push-9 col-sm-12 login-layout">
        <div id="searchbox" class="widget-box no-padding">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title smaller">查询条件</h5>
                <span class="widget-toolbar">
				    <a href="javascript:closesearch()">
						<i class="ace-icon fa fa-times"></i>
					</a>
				</span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div  class="input-group">
                                <input id="sendatepicker" type="text" class="form-control" placeholder="请点击选择日期"  readonly/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="" class="hidden">请选择类型</option>
                                <option value="1">已读</option>
                                <option value="0">未读</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input id="byname" type="text" class="form-control" placeholder="请填入查找内容">
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-grey btn-xs btn-round" type="button" name="search" title="确定查找"><i class="fa fa-search"></i>确定查找</a>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
        <table id="noticetable"></table>
    </div>
</div>

<script>
    var $noticetable = $("#noticetable");
    var $noticenav = $("#notice");
    var $searchbox = $("#searchbox");
    $(function () {
        //更新navbar的未读通知
        updatenoticeunread();
        //初始化datepicker
        singledatepicker("sendatepicker");
        //加载通知内容表格

        $noticetable.bootstrapTable("destroy").bootstrapTable({
            url: "../json/notice.json",
            striped: true,
            pagination: true,
            paginationLoop: true,
            sidePagination:	'client',
            pageSize:"12",
            pageList:[15,25,50],
            uniqueId: "id",
            showRefresh:true,
            showSearch:true,
            onSearchbtn:function(){
                ($searchbox.hasClass("visible"))?$searchbox.removeClass("visible"):$searchbox.addClass("visible")
            },
            toolbartitle:"通知列表",
            detailView:true,
            detailFormatter:noticedetail,
            columns: [{
                field: "read",
                title: "阅读状态",
                align:"center",
                formatter:function(value,row,index){
                    var icon="",color="",text="";
                    if(value){
                        icon="fa-envelope-o";
                        color="grey";
                        text="已读"
                    }else {
                        icon="fa-envelope-open-o";
                        color="red";
                        text="未读"
                    }
                    return "<i class=\"bigger-120 fa " + icon + " " + color + "\">"+text+"</i>"
                }
            },{
                field: "lv",
                title: "优先级",
                align:"center",
                formatter:function (value) {
                    return '<span class="badge badge-success">'+value+'</span>'
                }
            },{
                field: "sendtime",
                title: "发送时间"
            }, {
                field: "title",
                title: "通知标题"
            }, {
                field: "attachment",
                title: "附件状态",
                align:"center",
                formatter:function (value) {
                    if(value.length!==0){
                        return "<i class=\"fa fa-paperclip bigger-130\"></i>"
                    }
                }
            }],
            onClickRow:function(row, $element){
                tableclickexpandread($noticetable,row,$element);
                updatenoticeunread()
            }
        });
    });

    function noticedetail(index,row){
        var html=[];
        html.push('<div class="message-content" id="id-message-content"><div class="message-header clearfix"><div class="pull-left">');
        html.push(sprintf('<span class="blue bigger-125 summary">%s</span>',row.title));
        html.push('<div class="space-4"></div><i class="ace-icon fa fa-star orange2"></i>&nbsp;');
        html.push(sprintf('<a href="#" class="sender">%s</a>',row.sendusr));
        html.push('&nbsp;<i class="ace-icon fa fa-clock-o bigger-110 orange middle"></i><span class="time grey"></span></div></div><div class="hr hr-double"></div>');
        html.push(sprintf('<div class="message-body">%s</div>',row.content));
        html.push('<div class="hr hr-double"></div>');
        if (jQuery.isEmptyObject(row.attachment)) {
            html.push('</div>');
        } else {
            html.push('<div class="message-attachment clearfix"><div class="attachment-title"><span class="blue bolder bigger-110">附件</span>&nbsp;');
            var att = row.attachment.split(",");
            var m = att.length;
            html.push(sprintf('<span class="grey attachment-desc">%s 文件</span></div>&nbsp;',m));
            for (var j = 0; j < m; j++) {
                var filename = att[j].substr(att[j].lastIndexOf('/') + 1);
                html.push(sprintf('<li><a href="../%s" class="attached-file" download="%s">',att[j],filename));
                html.push(sprintf('<i class="ace-icon attached-icon bigger-110 %s"></i>',attachmentsuffix(filename)));
                html.push(sprintf('<span class="attached-name">%s</span>',filename));
                html.push('</a><span class="action-buttons">');
                html.push(sprintf('<a href="../%s" download="%s"><i class="ace-icon fa fa-download bigger-125 blue"></i></a></span></li>',att[j],filename));
            }
        }
        return html.join("")
    }

    //更新未读通知
    function updatenoticeunread() {
        var unread=$noticetable.find(".fa-envelope-open-o").length;
        if(unread){
            $noticenav.find(".badge").removeClass("hidden");
            $noticenav.find(".badge").text(unread)
        }else{
            $noticenav.find(".badge").addClass("hidden")
        }
    }
</script>