<div class="row">
    <div class="col-md-3 col-md-push-9 col-sm-12 login-layout">
        <div id="searchbox" class="widget-box no-padding">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title smaller">查询条件</h5>
                <span class="widget-toolbar">
				    <a href="javascript:closesearch()">
						<i class="ace-icon fa fa-times"></i>
					</a>
				</span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="monthpicker" type="text" class="form-control" placeholder="请点击选择日期"  readonly/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">请选择类型</option>
                                <option value="1">aaa结算单</option>
                                <option value="2">bbb结算单</option>
                                <option value="3">ccc结算单</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input id="byname" type="text" class="form-control" placeholder="请填入结算单号">
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-grey btn-xs btn-round" type="button" name="search" title="确定查找"><i class="fa fa-search"></i>确定查找</a>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
        <table id="settlementable"></table>
    </div>
</div>

<!--预览模态框-->
<div id="previewmodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">单据预览</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="docpreview">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button id="savepdf" class="btn btn-primary btn-xs" type="button">
                            <i class="ace-icon fa fa-download icon-only"></i>下载
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="unsettlement" class="hidden">
<div class="tabbable tabs-below">
    <div class="tab-content">
        <div id="cui" class="tab-pane in active">
            <span class="bolder">
                <table id="unsettlementable"></table>
            </span>
        </div>
        <div id="overdue" class="tab-pane">
            <span class="bolder">
                <table id="overduetable"></table>
            </span>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab2">
        <li>
            <a href="javascript:preview();">结算单</a>
        </li>
        <li>
            <a data-toggle="tab" href="#cui">催缴单</a>
        </li>
        <li>
            <a data-toggle="tab" href="#overdue">滞纳金单</a>
        </li>
    </ul>
</div>
</div>


<script>
    $("#monthpicker").datetimepicker({
        language:"zh-CN",
        format:"yyyy-mm",
        startView: "year",
        minView:"year",
        autoclose:true
    });
    var settlementable = $("#settlementable");
    var unsettlementable = $("#unsettlementable");
    singledatepicker("accountperiod");
    settlementable.bootstrapTable("destroy").bootstrapTable({
        url: "../json/settlement201708.json",
        striped: true,
        pagination: true,
        paginationLoop: true,
        sidePagination:	'client',
        pageSize:"12",
        pageList:[15,25,50],
        uniqueId: "id",
        showRefresh: true,
        showSearch:true,
        onSearchbtn:function(){
            ($("#searchbox").hasClass("visible"))?$("#searchbox").removeClass("visible"):$("#searchbox").addClass("visible")
        },
        toolbar: '#settletoolbar',
        toolbartitle:"结算单列表",
        detailView:true,
        detailFormatter:settledetail,
        columns: [{
            field: "read",
            title: "阅读状态",
            align:"center",
            formatter:function(value,row,index){
                var icon="",color="",text="";
                if(value){
                    icon="fa-envelope-o";
                    color="grey";
                    text="已读"
                }else {
                    icon="fa-envelope-open-o";
                    color="red";
                    text="未读"
                }
                return "<i class=\"bigger-120 text-center fa " + icon + " " + color + "\">"+text+"</i>"
            }
        },{
            field: "settlementcode",
            title: "结算单号"
        }, {
            field: "type",
            title: "结算类型"
        }, {
            field: "startdate",
            title: "起始时间"
        }, {
            field: "enddate",
            title: "结束时间"
        }, {
            field: "status",
            title: "结算单状态",
            align:"center",
            formatter:function (value,row,index) {
                var label,status;
                if(value===1){
                    label = "label-info";
                    status = "结算"
                }else if(value===2){
                    label = "label-warning";
                    status = "催缴"
                }else if(value===3){
                    label = "label-danger";
                    status = "滞纳"
                }else if(value===4){
                    label = "label-success";
                    status = "核销"
                }
                return "<span class=\"label " + label + " arrowed\">" + status + "</span>"
            }
        }],
        onClickRow:function(row, $element){
            tableclickexpandread(settlementable,row,$element);
//            updatenoticeunread()
        }
    });
    function settledetail(index,row) {
        var status = row.status;
        unsettlementable.bootstrapTable("destroy").bootstrapTable({
            data:row.detail,
            striped: true,
            sidePagination:	'client',
            uniqueId: "id",
            toolbarauto:false,
            columns: [{
                field: "read",
                title: "阅读状态",
                align:"center",
                formatter:function(value,row,index){
                    var icon="",color="",text="";
                    if(value){
                        icon="fa-envelope-o";
                        color="grey";
                        text="已读"
                    }else {
                        icon="fa-envelope-open-o";
                        color="red";
                        text="未读"
                    }
                    return "<i class=\"bigger-120 text-center fa " + icon + " " + color + "\">"+text+"</i>"
                }
            },{
                field: "code",
                title: "单号"
            }, {
                field: "title",
                title: "标题"
            }, {
                field: "createtime",
                title: "创建时间"
            }]
        });
        $("#overduetable").bootstrapTable("destroy").bootstrapTable({
            data:row.detail,
            striped: true,
            sidePagination:	'client',
            uniqueId: "id",
            toolbarauto:false,
            columns: [{
                field: "read",
                title: "阅读状态",
                align:"center",
                formatter:function(value,row,index){
                    var icon="",color="",text="";
                    if(value){
                        icon="fa-envelope-o";
                        color="grey";
                        text="已读"
                    }else {
                        icon="fa-envelope-open-o";
                        color="red";
                        text="未读"
                    }
                    return "<i class=\"bigger-120 text-center fa " + icon + " " + color + "\">"+text+"</i>"
                }
            },{
                field: "code",
                title: "单号"
            }, {
                field: "title",
                title: "标题"
            }, {
                field: "createtime",
                title: "创建时间"
            }]
        });
        if(status===1){
            settlementable.bootstrapTable("collapseAllRows");
            preview()
        }else if(status===2){
            $("#myTab2").find("li").removeClass("active");
            $("#myTab2").find("li").removeClass("hidden");
            $("#myTab2").find("li:eq(1)").addClass("active");
            $("#myTab2").find("li:eq(2)").addClass("hidden");
            return $("#unsettlement").clone().removeClass("hidden")
        }else if(status===3){
            $("#myTab2").find("li").removeClass("active");
            $("#myTab2").find("li").removeClass("hidden");
            $("#myTab2").find("li:eq(2)").addClass("active");
            return $("#unsettlement").clone().removeClass("hidden")
        }else if(status===4){
            $("#myTab2").find("li").removeClass("active");
            $("#myTab2").find("li").removeClass("hidden");
            $("#myTab2").find("li:eq(2)").addClass("active");
            return $("#unsettlement").clone().removeClass("hidden")
        }
    }


	$("#savepdf").click(function(){
//		var pdf = new jsPDF('p', 'pt', 'a4');
//		$("body").append("<div id='temp' style='position:absolute;left:1600px;'>test</div>");
//		$("#temp").append($(".docpreview").clone());
//		pdf.addHTML($(".docpreview:eq(1)"),26,30,function(){
//			pdf.save();
//			$(".docpreview:eq(1)").remove();
//		});
        window.location.href="attachment/settlement/2.pdf"
	});
    function preview(scode,read,index) {
        if(read==="0"){
            settlementable.bootstrapTable("updateCell",index,read,1)
        }
        $("#previewmodal").modal("show");
        $.ajax({
           url:"../attachment/settlement/2.html",
            success:function(data){
                $(".docpreview").html(data)
            }
        });
    }
    function preview3() {
        $("#previewmodal").modal("show");
        $.ajax({
            url:"../attachment/settlement/3.html",
            success:function(data){
                $(".docpreview").html(data)
            }
        });
    }
    function preview4() {
        $("#previewmodal").modal("show");
        $.ajax({
            url:"../attachment/settlement/4.html",
            success:function(data){
                $(".docpreview").html(data)
            }
        });
    }
    function updateunread() {
        var unread = settlementable.find(".fa-envelope-open-o").length;
        $("#settlementdoc").find(".badge").text(unread);
    }

</script>