<div class="row">
    <div class="col-md-3 col-md-push-9 col-sm-12 login-layout">
        <div id="searchbox" class="widget-box visible">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title smaller">查询</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-6 clearfix">
                    <div class="col-sm-12">
                        <label for="accountperiod">选择账期：</label>
                        <div class="input-group">
                            <input id="accountperiod" class="form-control" type="text" readonly/>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <div id="b" class="widget-box no-border no white">
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
        <table id="settlementable"></table>
    </div>
</div>
<!--toolbar-->
<div id="unsettletoolbar"></div>
<div id="settletoolbar"></div>

<!--预览模态框-->
<div id="previewmodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">单据预览</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="docpreview">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button id="savepdf" class="btn btn-primary btn-xs" type="button">
                            <i class="ace-icon fa fa-download icon-only"></i>下载
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var settlementable = $("#settlementable");
    var unsettlementable = $("#unsettlementable");
    $(function(){
        singledatepicker("accountperiod");
        settlementable.bootstrapTable("destroy").bootstrapTable({
            url: "../json/settlement201708.json",
            striped: true,
            pagination: true,
            paginationLoop: true,
            sidePagination:	'client',
            pageSize:"12",
            pageList:[15,25,50],
            uniqueId: "id",
            showRefresh: true,
            showSearch:true,
            onSearchbtn:function(){
                ($("#searchbox").hasClass("visible"))?$("#searchbox").removeClass("visible"):$("#searchbox").addClass("visible")
            },
            toolbar: '#settletoolbar',
            toolbartitle:"结算单列表",
            detailView:true,
            detailFormatter:settledetail,
            columns: [{
                field: "read",
                title: "阅读状态",
                formatter:function(value,row,index){
                    var icon="",color="",text="";
                    if(value){
                        icon="fa-envelope-o";
                        color="grey";
                        text="已读"
                    }else {
                        icon="fa-envelope-open-o";
                        color="red";
                        text="未读"
                    }
                    return "<i class=\"bigger-120 text-center fa " + icon + " " + color + "\">"+text+"</i>"
                }
            },{
                field: "settlementcode",
                title: "结算单号",
                formatter:function(value,row,index){
                    return "<a href='javascript:preview("+value+","+row.read+","+index+")'>"+value+"</a>"
                }
            }, {
                field: "type",
                title: "结算类型"
            }, {
                field: "startdate",
                title: "起始时间"
            }, {
                field: "enddate",
                title: "结束时间"
            }, {
                field: "status",
                title: "结算单状态",
                formatter:function (value,row,index) {
                    var label,status;
                    if(value===1){
                        label = "label-info";
                        status = "结算"
                    }else if(value===2){
                        label = "label-warning";
                        status = "催缴"
                    }else if(value===3){
                        label = "label-danger";
                        status = "滞纳"
                    }else if(value===4){
                        label = "label-success";
                        status = "核销"
                    }
                    return "<span class=\"label " + label + " arrowed\">" + status + "</span>"
                }
            }],
//            onClickRow:function(row,$element){
//                if(!row.read){
//                    $element.find(".bigger-120").removeClass("fa-envelope-open-o red");
//                    $element.find(".bigger-120").addClass("fa-envelope-o grey");
//                    $element.find(".bigger-120").text("已读")
//                }
//                updateunread()
//            }
        });
        function settledetail(index,row) {

        }
    });

	$("#savepdf").click(function(){
//		var pdf = new jsPDF('p', 'pt', 'a4');
//		$("body").append("<div id='temp' style='position:absolute;left:1600px;'>test</div>");
//		$("#temp").append($(".docpreview").clone());
//		pdf.addHTML($(".docpreview:eq(1)"),26,30,function(){
//			pdf.save();
//			$(".docpreview:eq(1)").remove();
//		});
        window.location.href="attachment/settlement/2.pdf"
	});
    function preview(scode,read,index) {
        if(!read){
            settlementable.bootstrapTable("updateCell",index,read,1)
        }
        $("#previewmodal").modal("show");
        $.ajax({
           url:"../attachment/settlement/2.html",
            success:function(data){
                $(".docpreview").html(data)
            }
        });
    }
    function preview3() {
        $("#previewmodal").modal("show");
        $.ajax({
            url:"../attachment/settlement/3.html",
            success:function(data){
                $(".docpreview").html(data)
            }
        });
    }
    function preview4() {
        $("#previewmodal").modal("show");
        $.ajax({
            url:"../attachment/settlement/4.html",
            success:function(data){
                $(".docpreview").html(data)
            }
        });
    }
//    singledatepicker("accountperiod");
    $(function() {

    });
    function updateunread() {
        var unread = settlementable.find(".fa-envelope-open-o").length;
        $("#settlementdoc").find(".badge").text(unread);
    }

</script>