<div class="row">
    <div class="col-sm-2 col-sm-offset-1">
        <div id="index" class="panel-body" style="position:fixed;">
            <ul>
                <li>
                    <h4><a href="#1">店铺信息</a></h4>
                </li>
                <li>
                    <h4><a href="#2">个人参数</a></h4>
                </li>
                <li>
                    <h4><a href="#2">系统参数</a></h4>
                </li>
            </ul>

        </div>
    </div>
    <div id="content" class="col-sm-6">
        <h2>
            <a name="1">
                店铺信息
            </a>
        </h2>
        <p>店铺介绍：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-bank"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="ServerIp" value="127.0.0.1"></div>
        <p></p>
        <p>店长姓名：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-bolt"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="Port" value="8080"></div>
        <p></p>
        <p>店长联系方式：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-database"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="DataServer" value="10.10.10.209"></div>
        <p></p>
        <p>开票公司全称：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="UserName" value="root"></div>
        <p></p>
        <p>开票地址：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="password" value="3.14159265"></div>
        <p></p>
        <p>开票电话：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="password" value="3.14159265"></div>
        <p></p>
        <p>开票银行基本户账号：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="password" value="3.14159265"></div>
        <p></p>
        <p>开票税务登记号：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="password" value="3.14159265"></div>
        <p></p>
        <h2>
            <a name="2">
                个人参数
            </a>
        </h2>
        <p>姓名：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-calculator"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="AutoSettlmentDay" value="15"></div>
        <p></p>
        <p>联系方式：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-calculator"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="AutoSettlmentDay" value="15"></div>
        <p></p>
        <p>证件类型：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-calculator"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="AutoSettlmentDay" value="15"></div>
        <p></p>
        <p>证件号码：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-calculator"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="AutoSettlmentDay" value="15"></div>
        <p></p>
        <h2>
            <a name="2">
                系统参数
            </a>
        </h2>
        <p>皮肤：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-ban"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="AdjustFinalDay" value="12"></div>
        <p></p>
        <p>首页通知插件：</p>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-ban"
                                                                    style="color:green;width:15px"></i></span><input
                type="text" class="form-control" placeholder="AdjustFinalDay" value="12"></div>
        <p></p>
    </div>
</div>
