<!-- PAGE CONTENT BEGINS -->
<!-- <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">
         <i class="ace-icon fa fa-times"></i>
     </button>
     <strong>提醒！</strong> 你有一条通知未读！
     <button class="btn btn-sm btn-warning">点击查看</button>
     <br/>
 </div> -->
<div class="col-xs-12 col-sm-4 widget-container-col" id="widget-container-notice">
    <div class="widget-box widget-color-dark" id="widget-box-notice">
        <div class="widget-header">
            <h5 class="widget-title">通知公告</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
                <a href="#" data-action="close">
                    <i class="ace-icon fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <!--加载未读的通知-->
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-4 widget-container-col">
    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">调帐申请</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
                <a href="#" data-action="close">
                    <i class="ace-icon fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                    <tr>
                        <th>申请时间</th>
                        <th>调帐时间</th>
                        <th>调帐金额</th>
                        <th>申请人</th>
                        <th>状态</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>2017年9月7日</td>
                        <td>2017年9月7日</td>
                        <td>200元</td>
                        <td>管理员</td>
                        <td>
                            <span class="label label-warning arrowed">审核中</span>
                        </td>
                    </tr>
                    <tr>
                        <td>2017年9月6日</td>
                        <td>2017年9月6日</td>
                        <td>150元</td>
                        <td>管理员</td>
                        <td>
                            <span class="label label-success arrowed">审核通过</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<span class="badge badge-primary"></span>
<script>
    var unreadhtml = "<span class=\"hide badge badge-primary\"></span>";
    var widgetnoticehtml = "<div class=\"widget-main\"><a href=\"#\"><p class=\"alert alert-info\"></p></a></div>";
    var widgetnotice = $("#widget-box-notice");
    var navnotice = $("#notice");
    navnotice.find(".menu-text").append(unreadhtml);
    //加载未读通知
    $.ajax({
        url: "json/notice.json",
        success: function (data) {
            widgetloadnotice(data);
            updatenavnoticeunread()
        }
    });
    function widgetloadnotice(data){
        var l = data.length;
        for(var i=0;i<l;i++){
            if(!data[i].status){
                widgetnotice.find(".widget-body").append(widgetnoticehtml);
                widgetnotice.find(".widget-main:last").attr("id","notice-"+data[i].id);
                widgetnotice.find("p:last").text(data[i].title)
            }
        }
    }
    //更新未读提示
    function updatenavnoticeunread(){
        var unread = widgetnotice.find(".widget-main").length;
        if(unread) {
            navnotice.find(".badge").removeClass("hide");
            navnotice.find(".badge").text(unread)
        }else{
            navnotice.find(".badge").addClass("hide");
        }
    }
    widgetnotice.on("click","a",function () {
        var unreadnotice = $(this).closest(".widget-main");
        var id = unreadnotice.attr("id");
        navjump("notice","通知公告");
        var i = id.substr(id.lastIndexOf('-')+1);
        sessionStorage.setItem("noticeid",i);
    })

</script>
