<div class="row">
    <div class="col-sm-12">
        <p id="welcome" class="alert alert-info">欢迎使用Noah商户系统，今天是</p>
    </div>
</div>
<div class="hr hr-double"></div>
<div class="row">
    <div class="col-sm-2" style="text-align:center;margin-top: 20px;">
        <h5>快捷入口:</h5>
    </div>
    <button class="btn btn-app btn-light btn-sm" onclick="navjump(9);">
        <i class="ace-icon fa fa-wrench bigger-200"></i>
        新增报修
    </button>
    <button class="btn btn-app btn-light btn-sm" onclick="navjump(10);">
        <i class="ace-icon fa fa-headphones bigger-200"></i>
        新增客诉
    </button>
    <button class="btn btn-app btn-light btn-sm" onclick="navjump(5);">
        <i class="ace-icon fa fa-jpy bigger-200"></i>
        新增调帐
    </button>
</div>
<div class="hr hr-double"></div>
<div class="col-xs-12 col-sm-6 col-md-4" id="widget-notice">
    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">通知公告提醒</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up bigger-130"></i>
                </a>
                <a href="javascript:hiddenbyid('widget-notice')">
                    <i class="ace-icon fa fa-times bigger-130"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <!--加载未读的通知-->
        </div>
    </div>
</div>
<div id="widgetcontain"></div>
<script>
    var noon = moment().format('a');
    var time=moment().format('llll');
    $("#welcome").text(noon+"好，欢迎使用Noah商户系统，现在时间是"+time);
    var $widgetcontain = $("#widgetcontain");
    var widgetnotice = $("#widget-notice");
    var navnotice = $("#notice");
    navnotice.find(".menu-text").append(unreadhtml);
    //加载未读通知
    $.ajax({
        url: "../json/notice.json",
        anync: false,
        success: function (data) {
            widgetloadnotice(data);
            updatenavnoticeunread()
        }
    });
    function widgetloadnotice(data){
        var l = data.length;
        for(var i=0;i<l;i++){
            if(!data[i].read){
                widgetnotice.find(".widget-body").append(widgetnoticehtml);
                widgetnotice.find(".widget-main:last").attr("id","notice-"+data[i].id);
                widgetnotice.find("p:last").text(data[i].title)
            }
        }
    }
    $(function () {
        addwidget("widget-settlement","财务单据提醒","widgetsettletable");
        addwidget("widget-adjust","调帐提醒","widgetadjustable");
        addwidget("widget-repair","报修提醒","widgetrepairable");
        addwidget("widget-complain","客诉提醒","widgetcomplainable");
    });
    function addwidget(id,title,tableid){
        $widgetcontain.append(widgetableshtml);
        $widgetcontain.find(".widget-box:last").attr("id",id);
        var $id = $("#"+id);
        $id.find(".widget-title").text(title);
        $id.find("a:last").attr("href","javascript:hiddenbyid('"+id+"')");
        $id.find("table").attr("id",tableid);
    }
    $("#widgetsettletable").bootstrapTable("destroy").bootstrapTable({
        url: "../json/settlementwidget.json",
        toolbarauto:false,
        columns: [
            {
                field: "settlementcode",
                title: "结算单号"
            },
            {
                field: "type",
                title: "结算类型"
            },
            {
                field: "status",
                title: "状态",
                align:"center",
                formatter:function (value,row,index) {
                    var label, status;
                    if (value === 1) {
                        label = "label-info";
                        status = "结算"
                    } else if (value === 2) {
                        label = "label-warning";
                        status = "催缴"
                    } else if (value === 3) {
                        label = "label-danger";
                        status = "滞纳"
                    } else if (value === 4) {
                        label = "label-success";
                        status = "核销"
                    }
                    return "<span class=\"label " + label + " arrowed\">" + status + "</span>"
                }
            }
        ]
    });
    $("#widgetadjustable").bootstrapTable("destroy").bootstrapTable({
        url: "../json/adjustwidget.json",
        toolbarauto:false,
        columns: [
            {
                field: "adjustdate",
                title: "调帐日期"
            },
            {
                field: "afterdayamount",
                title: "调帐后金额"
            },
            {
                field: "status",
                title: "调帐状态",
                formatter: function (value, row, index) {
                    var label, status;
                    if (value === 1) {
                        label = "label-warning";
                        status = "调帐审核中"
                    } else if (value === 2) {
                        label = "label-success";
                        status = "调帐成功"
                    } else if (value === 3) {
                        label = "label-grey";
                        status = "申请驳回"
                    }
                    return "<span class=\"label " + label + " arrowed\">" + status + "</span>"
                }
            }
        ]
    });

    $("#widgetrepairable").bootstrapTable("destroy").bootstrapTable({
        url: "../json/repairwidget.json",
        toolbarauto:false,
        columns: [
            {
                field: "startime",
                title: "报修时间"
            },
            {
                field: "repairtype",
                title: "报修类型"
            },
            {
                field: "status",
                title: "报修状态",
                formatter:function (value) {
                    var label,status;
                    if(value==="1"){
                        label = "label-danger";
                        status = "发起报修"
                    }else if(value==="2"){
                        label = "label-warning";
                        status = "接受处理"
                    }else if(value==="3"){
                        label = "label-success";
                        status = "处理完成"
                    }
                    return "<span class=\"label " + label + " arrowed\">"+ status +"</span>"
                }
            }
        ]
    });

    $("#widgetcomplainable").bootstrapTable("destroy").bootstrapTable({
        url: "../json/complainwidget.json",
        toolbarauto:false,
        columns: [
            {
                field: "startime",
                title: "客诉时间"
            },
            {
                field: "complaintype",
                title: "客诉类型"
            },
            {
                field: "status",
                title: "客诉状态",
                formatter:function (value) {
                    var label,status;
                    if(value==="1"){
                        label = "label-danger";
                        status = "发起客诉"
                    }else if(value==="2"){
                        label = "label-warning";
                        status = "接受处理"
                    }else if(value==="3"){
                        label = "label-success";
                        status = "处理完成"
                    }
                    return "<span class=\"label " + label + " arrowed\">"+ status +"</span>"
                }
            }
        ]
    });
    //更新未读提示
    function updatenavnoticeunread(){
        var unread = widgetnotice.find(".widget-main").length;
        if(unread) {
            navnotice.find(".badge").removeClass("hide");
            navnotice.find(".badge").text(unread)
        }else{
            navnotice.find(".badge").addClass("hide");
        }
    }
    widgetnotice.find(".widget-body").on("click","a",function () {
        navjump("notice","通知公告");
    });

</script>
